<template name="marketMain">
    <div class="row">
        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market01.png">
                    <span class="card-title">Timetracking<br><small>by Vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to Workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market02.png">
                    <span class="card-title">Snapshooting<br><small>by Vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market03.png">
                    <span class="card-title">Screen Recording<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2 line -->

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market04.png">
                    <span class="card-title">Legal Template<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market05.png">
                    <span class="card-title">Notary<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market06.png">
                    <span class="card-title">Digital Signature<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div style="float: left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 3 line -->


        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market07.png">
                    <span class="card-title">Invoices<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market08.png">
                    <span class="card-title">CRM<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div style="float: left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market09.png">
                    <span class="card-title">Note<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div style="float: left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 4 line -->


        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market10.png">
                    <span class="card-title">Invoices<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market11.png">
                    <span class="card-title">Client Relation Management<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m4 l4">
            <div class="card vz-market">
                <div class="card-image">
                    <img src="/images/market/market12.png">
                    <span class="card-title">Task Management<br><small>by vezio</small></span>
                </div>

                <div class="card-action">
                    <div class="options">
                        <div class="left">
                            <a href="">Add to workplace</a>
                        </div>
                        <div class="right">
                            <a href="#"><i class="mdi-action-favorite"></i></a>
                            <a href="#"><i class="mdi-social-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end main row -->


</template>
