<template name="timeBoardLine">

    <li class="timeline">
        <div class="row no-margin z-depth-1">

            <div class="col s1">&nbsp;</div>

            <div class="col s11 no-wrap">

                <div class="timeline-detail no-wrap" style="width: 2360px">
                    <div class="item">1AM</div>
                    <div class="item">2AM</div>
                    <div class="item">3AM</div>
                    <div class="item">4AM</div>
                    <div class="item">5AM</div>
                    <div class="item">6AM</div>
                    <div class="item">7AM</div>
                    <div class="item">8AM</div>
                    <div class="item">9AM</div>
                    <div class="item">10AM</div>
                    <div class="item">11AM</div>
                    <div class="item">12PM</div>
                    <div class="item">1PM</div>
                    <div class="item">2PM</div>
                    <div class="item">3PM</div>
                    <div class="item">4PM</div>
                    <div class="item">4PM</div>
                    <div class="item">6PM</div>
                    <div class="item">7PM</div>
                    <div class="item">8PM</div>
                    <div class="item">9PM</div>
                    <div class="item">10PM</div>
                    <div class="item">11PM</div>
                    <div class="item last">12PM</div>
                </div>

            </div>

        </div>
    </li>

</template>
