<template name = "toolMarketCard">
    <div class="col s12 m4 l4">
      <div class="card vz-market">
        <div class="card-image">
          <img src="/images/market/market01.png">
          <span class="card-title">{{name}}<br><small>by Vezio</small></span>
        </div>

        <div class="card-action">
          <div class="options">
              <div class="left">
                <a href="">Add to Workplace</a>
              </div>
              <div class="right">
                  <a href="#"><i class="mdi-action-favorite"></i></a>
                  <a href="#"><i class="mdi-social-share"></i></a>
              </div>
          </div>
        </div>
      </div>
    </div>
</template>