<template name="timeBoardTasks">

    <div class="no-wrap no-margin">

        <div class="col s6 m3 l2" style="padding-right: 0">

            <ul class="timeboard">

                <li>
                    <div class="row no-margin no-wrap">
                        <div class="left">
                            <img src="/images/avatars/avatar00.png"/>
                        </div>

                        <div class="author tooltipped" data-position="right" data-delay="50" data-tooltip="GMT 0">
                            <p class="name"><strong>Thomas</strong></p>

                            <p class="location">Los Angeles USA</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row no-margin">
                        <div class="left">
                            <img src="/images/avatars/avatar01.png"/>
                        </div>

                        <div class="author tooltipped" data-position="right" data-delay="50" data-tooltip="GMT +1">
                            <p class="name"><strong>Thomas</strong></p>

                            <p class="location">Los Angeles USA</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row no-margin">
                        <div class="left">
                            <img src="/images/avatars/avatar02.png"/>
                        </div>

                        <div class="author tooltipped" data-position="right" data-delay="50" data-tooltip="GMT +1">
                            <p class="name"><strong>Thomas</strong></p>

                            <p class="location">Los Angeles USA</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="row no-margin">
                        <div class="left">
                            <img src="/images/avatars/avatar03.png"/>
                        </div>

                        <div class="author tooltipped" data-position="right" data-delay="50" data-tooltip="GMT +2">
                            <p class="name"><strong>Thomas</strong></p>

                            <p class="location">Los Angeles USA</p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="col s6 m9 l10" style="padding-left: 0">

            <div id="scrolly">

                <ul class="timeboard bar">

                    <li>
                        <a class="waves-effect waves-light btn blue"
                           style="position: relative; left: 0px; width: 480px;">Logo Redesign</a>
                    </li>

                    <li>
                        <a class="waves-effect waves-light btn teal"
                           style="position: relative; left: 200px; width: 1800px;">Stuff</a>
                    </li>

                    <li>
                        <a class="waves-effect waves-light btn grey"
                           style="position: relative; left: 0px; width: 480px;">Design</a>
                    </li>

                    <li>
                        <a class="waves-effect waves-light btn green"
                           style="position: relative; left: 200px; width: 1800px;">Work</a>
                    </li>

                </ul>

            </div>

        </div>

    </div>
    <!-- end row -->

</template>
