<template name="passwordReset">

    <div class="row">

        <div class="col s12 m8 offset-m2 l4 offset-l4 no-padding">

            <div class="row no-margin">

                <div class="col s10 offset-s1 z-depth-1 white">

                    <form id="login-form" action="#" class="login-form">

                        <div class="row">
                            <div class="col s12">
                                <h5 class="center no-margin">Wellcome back User</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                Enter the email address you used when you joined and we will send you instructions to
                                reset your password
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email" data-error="Invalid&nbsp;email" data-success="">Email</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <button class="btn-large btn-dark waves-effect waves-light col s12">Reset Password
                                </button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
    <!-- End Row  -->

    <div class="row vz-signin">
        <p class="center">

            <a href="/login">
                Back to Sign In
            </a>

        </p>
    </div>

</template>
